**/__pycache__

**/.ipynb_checkpoints
**/**/*.ipynb_checkpoints
**/**/**/*.ipynb_checkpoints

**/**/*keys.py*

**/*.pickle
/predicting_stock_market_trends_with_Twitter/data
predicting_stock_market_trends_with_Twitter/data
predicting_stock_market_trends_with_Twitter/data/**
*.pickle

predicting_stock_market_trends_with_Twitter/data/X_tfidf_10000.pickle
/predicting_stock_market_trends_with_Twitter/data/X_tfidf_10000.pickle
**/predicting_stock_market_trends_with_Twitter/data/X_tfidf_10000.pickle
