**/__pycache__

**/.ipynb_checkpoints
**/**/*.ipynb_checkpoints
**/**/**/*.ipynb_checkpoints

**/**/*keys.py*

predicting_stock_market_trends_with_Twitter/data
*.pickle

predicting_stock_market_trends_with_Twitter/data/
predicting_stock_market_trends_with_Twitter/data/**
predicting_stock_market_trends_with_Twitter/data/*.pickle

# Ignore these files
data
data/
